* {
    font-family: Arial, Helvetica, sans-serif,
}

h1 {
    font-family: "Courier new", monospace;
}

i {
    color: green;
}

i {
    color: red;
}

b {
    color: Pink;
}

p b {
    color: blue !important;
}

p b {
    color: violet;
}

p #Intro {
    font-size: 100%;
}

p {
    font-size: 75%;
}